div {
  box-sizing: border-box;
}

p {
  margin: 5px 0;
  font-size: 12px;
}

.l1,
.l2,
.l3 {
  border: 1px solid #000;
  display: inline-block;
  width: 100%;
  padding: 10px;
}

.l1person,
.l2person,
.l3person {
  margin: 10px 10px 10px 10px;
  float: left;
}

.g1,
.g2,
.g3,
.g4 {
  border: 1px solid #000;
  margin: 10px;
  float: left;
  width: 20%;
}
.g1person,
.g2person,
.g3person,
.g4person {
  margin: 10px;
  float: left;
}

.photo {
  width: 80px;
  height: 80px;
  background-color: #ccc;
}

.imgbox {
  width: 200px;
  height: 150px;
  background-color: #ccc;
}

.btn {
  width:200px;
  height: 50px;
  border: 1px solid #000;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}
